.fable/
.fake/
.farmer/
.idea/
.ionide/
.vs/
deploy/
obj/
bin/
packages/
paket-files/
node_modules/
release.cmd
release.sh
*.orig
*.DotSettings.user
.assets/swate.zip
/.db/data
/.db/plugins
/.db/import
/.assets/swate-b-quickstart.zip
/.db/cache
/.db/neo4j
/src/Client/output
/tests/Client/output
/.paket
*/**/fable_modules
*.fs.ts
# *.fs.js
*.fs.js.map
dist/
output/

test-results/
playwright-report/

*storybook.log
storybook-static/
nupkgs/
artifacts/
./SwateClient.zip
!.idea/.idea.Swate/.idea/workspace.xml
!.idea/.idea.Swate/.idea/tailwindcss.xml