.fable/
.fake/
.vs/
obj/
bin/
packages/
paket-files/
node_modules/
src/Client/public/js/
release.cmd
release.sh
.idea/
*.orig
*.DotSettings.user
deploy
.ionide/
/SWATE_0.0.1-alpha_test_release.zip
/src/Server/Properties/production.json
/src/Server/production.json
