source https://www.nuget.org/api/v2

group Server
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    storage: none

    nuget FSharp.Core
    nuget Saturn >= 0.14.1
    nuget Microsoft.AspNetCore.Authentication.JwtBearer
    nuget Fable.Remoting.Giraffe ~> 3
    nuget Microsoft.Data.SqlClient
    nuget Microsoft.Extensions.Configuration.UserSecrets

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.1
    storage: none

    nuget Fable.Browser.MediaQueryList
    nuget Fable.Core ~> 3
    nuget Fable.Elmish ~> 3
    nuget Fable.Elmish.Debugger ~> 3
    nuget Fable.Elmish.HMR ~> 4
    nuget Fable.Elmish.React ~> 3
    nuget Fable.React ~> 5
    nuget Fable.Remoting.Client ~> 5
    nuget Fulma ~> 2
    nuget Fulma.Extensions.Wikiki.Tooltip
    nuget Fulma.Extensions.Wikiki.Switch
    nuget Fable.FontAwesome.Free ~> 2
    nuget Thoth.Elmish.Debouncer ~> 1
    nuget Fable.Elmish.Browser ~> 3

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.1
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Process