source https://api.nuget.org/v3/index.json
framework: net6.0
storage: none

nuget DynamicObj 0.2.1
nuget ExcelJS.Fable
nuget Fable.Remoting.Giraffe
nuget ISADotNet 0.6.0-preview.2
nuget ISADotNet.XLSX 0.6.0-preview.2
nuget ISADotNet.Viz 0.6.0-preview.2
nuget Neo4j.Driver 4.4.0
nuget Saturn
nuget Expecto
nuget FSharp.Data
nuget Microsoft.Extensions.Configuration.UserSecrets

nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.FontAwesome.Free
nuget Fable.Mocha
nuget Fable.React
nuget Fable.Remoting.Client
nuget Fulma
nuget Fable.Browser.MediaQueryList
nuget Fable.Elmish.Browser
nuget Fulma.Extensions.Wikiki.Switch
nuget System.Text.Encodings.Web
nuget Thoth.Elmish.Debouncer

nuget Fable.SimpleJson
nuget Fable.SimpleXml
nuget Fulma.Extensions.Wikiki.Checkradio
nuget Fulma.Extensions.Wikiki.Slider