@charset "utf-8";

// OpenSans
$FontPathOpenSans: "~open-sans-fonts/open-sans";
$family-primary: 'Open Sans';


// Bulma
@import "~bulma/bulma";
@import "~bulma-switch";
@import "~bulma-tooltip";


.suggestion :hover{
    cursor: pointer;
}

.delete :hover {
    cursor: pointer;
}

input::-ms-clear {
    display: none;
}