@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1FC2A7;
  --color-secondary: #2D3E50;
  --color-accent: #B4CE82;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #1FC2A7;
  --color-secondary: #2D3E50;
  --color-accent: #B4CE82;
}


@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 2rem;
    max-width: 640px;
  }

  @variant md {
    padding-inline: 3rem;
    max-width: 768px;
  }

  @variant lg {
    padding-inline: 4rem;
    max-width: 1024px;
  }

  @variant xl {
    padding-inline: 5rem;
    max-width: 1280px;
  }

  @variant 2xl {
    padding-inline: 6rem;
    max-width: 1536px;
  }
}

@keyframes border-gradient-flow {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }

@layer utilities {
    .animated-border::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: -1; /* Place it behind the content */
      padding: 2px; /* Thickness of the border */
      border-radius: 8px; /* Optional rounded corners */
      background: linear-gradient(180deg, oklch(var(--p)), oklch(var(--in)));
      background-size: 200% 200%;
      animation: border-gradient-flow 8s ease-in-out infinite;
    }

        /* Apply offsets to each container based on its order */
    .animated-border:nth-of-type(1)::before {
        animation-delay: 0s;
    }

    .animated-border:nth-of-type(2)::before {
        animation-delay: 3s; /* Offset to create continuous flow */
    }

    .animated-border:nth-of-type(3)::before {
        animation-delay: 4s;
    }

    .animated-border:nth-of-type(4)::before {
        animation-delay: 6s;
    }
}