name: Run Tests

on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.x

      - name: Restore .NET dependencies
        run: dotnet tool restore

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install root npm dependencies
        run: npm ci

      - name: Install component npm dependencies
        working-directory: src/Components
        run: npm ci

      - name: Install Playwright Browsers
        working-directory: src/Components
        run: npx playwright install --with-deps chromium

      - name: Run Tests
        run: dotnet run --project ./build/Build.fsproj test
